
<main class="mt-2 container-fluid">
    <h2 class="lead font-weight-bold p-2 text-center text-capitalize">Checkout</h2>

    <div *ngIf="getCart().length === 0" class="bg-white overflow-hidden rounded border border-light hide-on-init pl-3 pr-3 pt-2 pb-2 mb-3" animateOnScroll animationName="animated fadeIn">
        <span>Your shopping cart is empty.</span>
    </div>

    <div class="bg-white overflow-hidden rounded border border-light hide-on-init mb-3" animateOnScroll animationName="animated bounceIn">
        <h3 class="h5 font-weight-bold pl-3 pr-3 pt-2">Shipping Address</h3>
        <div class="row pl-3 pb-2 pr-3">
            <span class="col-5">Subtotal</span>
            <span class="col-7 text-right">€0.0</span>
        </div>
        <div class="row pl-3 pb-2 pr-3">
            <span class="col-5">Shipping</span>
            <span class="col-7 text-right">t.b.d.</span>
        </div>
        <div class="row pl-3 pb-2 pr-3">
            <span class="col-5">Total</span>
            <span class="col-7 text-right">Max. €0.0</span>
        </div>
    </div>

    <div class="bg-white overflow-hidden rounded border border-light hide-on-init mb-3" animateOnScroll animationName="animated bounceIn">
        <h3 class="h5 font-weight-bold pl-3 pr-3 pt-2">Billing Address</h3>
        <div class="row pl-3 pb-2 pr-3">
            <span class="col-5">Subtotal</span>
            <span class="col-7 text-right">€0.0</span>
        </div>
        <div class="row pl-3 pb-2 pr-3">
            <span class="col-5">Shipping</span>
            <span class="col-7 text-right">t.b.d.</span>
        </div>
        <div class="row pl-3 pb-2 pr-3">
            <span class="col-5">Total</span>
            <span class="col-7 text-right">Max. €0.0</span>
        </div>
    </div>

    <div class="bg-white overflow-hidden rounded border border-light hide-on-init mb-3" animateOnScroll animationName="animated bounceIn">
        <h3 class="h5 font-weight-bold pl-3 pr-3 pt-2">Order Summary</h3>
        <div class="row pl-3 pb-2 pr-3">
            <span class="col-5">Subtotal</span>
            <span class="col-7 text-right">€0.0</span>
        </div>
        <div class="row pl-3 pb-2 pr-3">
            <span class="col-5">Shipping</span>
            <span class="col-7 text-right">t.b.d.</span>
        </div>
        <div class="row pl-3 pb-2 pr-3">
            <span class="col-5">Total</span>
            <span class="col-7 text-right">Max. €0.0</span>
        </div>
        <a class="btn btn-primary text-white text-uppercase rounded-0 w-100" [ngClass]="{'disabled' : getCart().length === 0 || orderPlaced}" (click)="onTryCheckout()">Place Order &nbsp;<i class="fas fa-coins"></i></a>
    </div>
</main>